@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #001c30;
  display: grid;
  place-items: center;
}

.top {
  position: relative;
  /* position: fixed; */
  width: 98%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .big {
  width: 100%;
  height: 88%;
  /* background: linear-gradient(to bottom, #bcd4e6, #c5dedd); */
  background: rgb(159, 95, 123);
  background: radial-gradient(
    circle,
    rgba(159, 95, 123, 1) 0%,
    rgba(95, 119, 148, 1) 100%
  );
  border-radius: 12px;
  /* border: 1px solid white; */
}

.top .big .title {
  height: auto;
  width: 90%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 20px;
  transition: 0.3s linear;
}

.top .big .title h1 {
  font-size: 80px;
}

.top .big .title h3 {
  font-size: 30px;
}

.top .big .genre {
  position: relative;
  top: 10px;
  height: 30px;
  width: 90%;
  border: 2px solid black;
  margin: auto;
  padding: 0px 20px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .big .genre h6 {
  font-size: 14px;
}

.top .big .playlist {
  position: relative;
  top: 20px;
  height: 280px;
  width: 90%;
  padding-bottom: 10px;
  /* border: 1px solid black; */
  margin: auto;
  overflow: auto;
  scroll-behavior: smooth;
}

.top .big .playlist::-webkit-scrollbar {
  display: none;
}

.top .big .playlist .name {
  /* position: absolute; */
  height: 50px;
  width: 100%;
  border: 3px solid black;
  margin-bottom: 10px;
  padding: 0px 40px 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  transition: 0.3s linear;
}

.top .big .playlist .name:hover {
  background: rgb(3, 3, 3, 0.1);
}

.top .big .playlist .name img {
  width: 50px;
  height: 50px;
}

.top .big .playlist .name h5 {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* border: 1px solid black; */
}

.top .big .playlist .name h6 {
  font-size: 12px;
  /* border: 1px solid black; */
  /* margin-right:10px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top .big .playlist .name .bi {
  font-size: 20px;
  opacity: 0;
}

.top .big .playlist .name:hover .bi {
  color: #fff;
  transition: 0.3s linear;
  opacity: 1;
}

.top .play {
  width: 100%;
  height: 12%;
  position: absolute;
  bottom: -8px;
  /* border: 1px solid white; */
  /* background: gray; */
  background: rgb(177, 133, 178);
  background: linear-gradient(
    90deg,
    rgba(177, 133, 178, 0.9953056604434283) 0%,
    rgba(107, 191, 194, 1) 57%,
    rgba(126, 137, 207, 1) 100%
  );
  border-radius: 12px;
  /* border-radius: 1rem; */
}

.top .play {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  /* transition: 0.3s linear; */
}

.top .play .mixer {
  width: 35px;
  height: 35px;
  /* border: 1px solid white; */
  padding-left: 2px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.top .play .mixer .up {
  width: 4px;
  height: 10px;
  background: #001c30;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
}

.top .play .mixer .mixer2 {
  height: 15px;
  animation-delay: 0.7s;
}

.top .play .mixer .mixer3 {
  height: 7px;
  animation-delay: 1.3s;
}

/* FOR JS */

.top .play .start .up {
  animation: mixer 1s linear infinite;
}

.top .play .start .mixer2 {
  animation-delay: 0.7s;
}

.top .play .start .mixer3 {
  animation-delay: 1.3s;
}

@keyframes mixer {
  0% {
    height: 10px;
  }

  50% {
    height: 20px;
  }

  100% {
    height: 10px;
  }
}

.top .play .img {
  width: 40px;
  height: 40px;
}

.top .play .wrap-2 {
  width: 150px;
  /* border: 1px solid #fff; */
  margin-left: 15px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.top .play .wrap-2 h5 {
  font-size: 14px;
}

.top .play .wrap-2 .sub {
  font-size: 10px;
  font-weight: 600;
  color: #212a3e;
  width: 100%;
}

.top .play .control {
  font-size: 20px;
  margin: 0px 10px 0px 30px;
  outline: none;
  display: flex;
  align-items: center;
}

.top .play .control .bi {
  cursor: pointer;
  outline: none;
}

.top .play .control .shuffle {
  font-size: 20px;
  margin-right: 20px;
  width: 30px;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: center;
}

.top .play .control .heart {
  font-size: 20px;
  margin-left: 20px;
  width: 30px;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: center;
}

.top .play .control .playpause {
  width: 200px;
  font-size: 20px;
  /* border: 1px solid #fff; */
}

.top .play .control .playpause .bi {
  margin-right: 20px;
}

.top .play span {
  width: 45px;
  /* border: 1px solid #fff; */
  font-size: 14px;
  font-weight: 400;
}

.top .play #currentstart {
  margin: 0px 0px 0px 14px;
}

.top .play .bar {
  position: relative;
  width: 30%;
  height: 3px;
  background: rgba(3, 3, 3, 1);
  margin: 0px 15px 0px 10px;
}

.top .play .bar .bar-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background: whitesmoke;
  transition: 1s linear;
}

.top .play .bar .position {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: whitesmoke;
  border-radius: 50%;
  top: -2px;
  transition: 1s linear;
}

.top .play .bar .position::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  box-shadow: inset 0px 0px 4px whitesmoke;
  top: -6px;
  left: -5.5px;
}

.top .play .bar input {
  position: absolute;
  content: "";
  width: 100%;
  top: -6.5px;
  left: 0;
  cursor: pointer;
  z-index: 1111111;
  opacity: 0;
}

.top .play .control .playpause {
  height: 100%px;
  /* border: 1px solid white; */
  cursor: pointer;
  outline: none;
  margin: 0px 0px 0px 10px;
  /* margin-left: 10px; */
  display: flex;
  justify-content: center;
}

.top .play .control .playpause .bi {
  font-size: 30px;
  margin-right: 10px;
}
